.home-background{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 812px;
    background: #FFFFFF;
    border: 1px solid black;
}

.sebotage_1{

position: absolute;
width: 317px;
height: 328px;
left: 30px;
top: 160px;

background: no-repeat center/100% url(./image/sebotage_1.png);
}

.logo{
    position: absolute;
width: 364px;
height: 272px;
left: 5px;
top: 426px;

background:no-repeat center/100% url(./image/캐릭터.png);
}

.tabbar{
    position: absolute;
width: 375px;
height: 83px;
left: 0px;
bottom: 0px;
border: 1px solid black;
}

.plus {
    position: absolute;
    left: 2.93%;
    right: 86.4%;
    top: 10.84%;
    bottom: 40.96%;
    /* border: 1px solid black; */
}
.plus_icon{

    width: 400px;
    height: 400px;
    /* background:no-repeat center/100% url(./image/plus.jpg); */
}
.search{
    position: absolute;
left: 21.87%;
right: 67.47%;
top: 10.84%;
bottom: 40.96%;

}
.home-button{
/* Rectangle */


position: absolute;
left: 40.8%;
right: 40.53%;
top: 10.84%;
bottom: 40.96%;

background: #8DC63F;
border-radius: 20px;
}
.bell{
/* 40 / Toolbar / bell */


position: absolute;
left: 67.73%;
right: 21.6%;
top: 10.84%;
bottom: 40.96%;

}
.mypage{
/* 40 / Toolbar / bell */


position: absolute;
left: 86.4%;
right: 2.93%;
top: 10.84%;
bottom: 40.96%;
}

