<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>login/user_info.html</title>
</head>
<body>
<form action="/user_info_edit_proc" method="post">
    <input type="hidden" name="idx" value="{{ edit_idx }}">
    <hr>
    <p>회원정보 수정</p>
    <hr>
    User ID : {{ session.get('userId') }}<br>
    User Pwd : <input type="password" name="userPwd"><br>
    User Code : <input type="text" value="{{ edit_code }}" name="usercode"><br>
    <input type="submit" value="수정">
    <input type="button" onclick="history.back()" value="취소">
</form>
</body>
</html>