<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
</head>
<body>
  <form action="/register_proc" method="post">
    <div>
      <h3> Register </h3>
      <p>
        <label for="regi_id">회원 아이디</label>
        <input type="text" id="regi_id" name="regi_id">
      </p>
      <p>
        <label for="regi_pw">비밀번호</label>
        <input type="password" id="regi_pw" name="regi_pw">
      </p>
      <p>
        <label for="regi_pw">비밀번호 확인</label>
        <input type="password" id="regi_pw_check" name="regi_pw_check">
      </p>
      <p>
          <label for="regi_name">회원명</label>
          <input type="text" id="regi_name" name="regi_name">
      </p>


      <p>
        <label for="regi_code">회원 코드</label>
        <input type="text" id="regi_code" name="regi_code">
      </p>

      <p>
        <label for="regi_number">전화번호</label>
        <input type="text" id="regi_number" name="regi_number">
      </p>

      <p>
        <label for = "regi_admin">유형</label>
        <label><input type = "checkbox" id = "regi_admin" name = "regi_admin" value = 'True'>병원 관계자</label>
      </p>

      <input type="submit" name="submit" value="submit" style="WIDTH: 183pt"/>
 
    </div>
</form>

 
</body>
</html>
